<!DOCTYPE html>
<html>
    <head>
        <title>Create Playlist</title>
        <link rel="stylesheet" href="/public/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <script src="/vue"></script>
        <script>
            window.onload = function(){
                const Moods = {
                    data(){
                        return {
                            songs: []
                        }
                    },
                    created() {
                        this.fetchData();
                    },
                    methods: {
                        async fetchData() {
                            fetch(new Request('/db/songs/all')).then(response => response.json())
                                .then(response => { response.forEach(async song => {
                                        let mood = await fetch(new Request('/db/moods/' + song.moodId)).then(response => {return response.json()});
                                        this.songs.push({id: song.id, title: song.title, mood: mood.name});
                                    });
                                });
                        }
                    }
                }
                Vue.createApp(Moods).mount('#songs');
            }
        </script>
    </head>
    <body>
        <h1>Create a background:</h1>
        <div id="data-form">
            <h3>New Background</h3>
            <div class="data-fields">
                <form action="/db/playlist/create" method="post">
                    <input class="data-input-style" type="text" id="name" name="name" placeholder="Playlist name"/><br>
                    <label for="name">(The name of this playlist)</label><br><br>
                    <select v-model="songs" id="songs" name="songs" multiple>
                        <option disabled value="">Please select one or many songs</option>
                        <option v-for="song in songs" v-bind:value="song.id">
                            Title: {{ song.title }} |
                            Mood: {{ song.mood }}
                        </option>
                    </select><br>
                    <label for="songs">What songs are in this playlist:</label><br><br>
                    <input class="data-button-style" type="submit" value="Submit">
                </form>
            </div>
        </div>
    </body>
</html>
