<!DOCTYPE html>
<html>
    <head>
        <title>View Playlist</title>
        <link rel="stylesheet" href="/public/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <script src="/vue"></script>
        <script>
            window.onload = function(){
                var pageUrl = window.location.href.trim();
                var lastIndex = pageUrl.lastIndexOf("/");
                var playlistId = parseInt(pageUrl.substring(lastIndex + 1));

                const Data = {
                    data(){
                        return {
                            playlist: {},
                            songs: []
                        }
                    },
                    created() {
                        this.fetchData();
                    },
                    methods: {
                        async fetchData() {
                            this.playlist = await fetch(new Request('/db/playlist/' + playlistId)).then(response => {return response.json()});
                            
                            for (i = 0; i < this.playlist.songs.length; i++){
                                let mood = await fetch(new Request('/db/moods/' + this.playlist.songs[i].moodId)).then(response => {return response.json()});
                                this.songs.push({id: this.playlist.songs[i].id, title: this.playlist.songs[i].title, mood: mood.name});
                            }
                            console.log(this.playlist.songs);
                        }
                    }
                }
                Vue.createApp(Data).mount('.data-fields');
            }
        </script>
    </head>
    <body>
        <h1>View Playlist:</h1>
        <div id="data-form">
            <h3>Playlist preview</h3>
            <div class="data-fields">
                <div class="data">
                    <p>Name: {{playlist.playlist.name}}</p>
                    <ul>
                        <li v-for="song in songs">
                            {{song.title}}
                            {{song.artist}}
                        </li>
                    </ul>
                </div>
                <p><br><a href="/admin/playlists">Go back</a></p>
            </div>
        </div>
    </body>
</html>
        
