<!DOCTYPE html>
<html>
    <head>
        <title>Update Background</title>
        <link rel="stylesheet" href="/public/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <script src="/vue"></script>
        <script>
            window.onload = function(){
                var pageUrl = window.location.href.trim();
                var lastIndex = pageUrl.lastIndexOf("/");
                var playlistId = parseInt(pageUrl.substring(lastIndex + 1));

                const Data = {
                    data(){
                        return {
                            playlist: {},
                            songs: [],
                            all_songs: []
                        }
                    },
                    created() {
                        this.fetchData();
                    },
                    methods: {
                        async fetchData() {
                            fetch(new Request('/db/songs/all')).then(response => response.json())
                                .then(response => {response.forEach(async song => {
                                        let mood = await fetch(new Request('/db/moods/' + song.moodId)).then(response => {return response.json()});
                                        this.all_songs.push({id: song.id, title: song.title, mood: mood.name});
                                    });
                                });

                            this.playlist = await fetch(new Request('/db/playlist/' + playlistId)).then(response => {return response.json()});
                            
                            for (i = 0; i < this.playlist.songs.length; i++){
                                let mood = await fetch(new Request('/db/moods/' + this.playlist.songs[i].moodId)).then(response => {return response.json()});
                                this.songs.push({id: this.playlist.songs[i].id, title: this.playlist.songs[i].title, mood: mood.name});
                            }
                        }
                    }
                }
                Vue.createApp(Data).mount('.data-fields');
            }
        </script>
    </head>
    <body>
        <h1>Update Playlist:</h1>
        <div id="data-form">
            <h3>Update playlist</h3>
            <div class="data-fields">
                <div class="data">
                    <p>Name: {{playlist.playlist.name}}</p>
                    <ul>
                        <li v-for="song in songs">
                            {{song.title}}
                            {{song.artist}}
                        </li>
                    </ul>
                </div>
                <form action="/db/playlist/update" method="post">
                    <input type="hidden" id="id" name="id" v-bind:value="playlist.playlist.id">
                    <input class="data-input-style" type="text" id="name" name="name" placeholder="playlist.playlist.name"/><br>
                    <label for="name">(The name of this playlist)</label><br><br>
                    <select id="songs" name="songs" multiple>
                        <option disabled value="">Please select one or many songs</option>
                        <option v-for="song in all_songs" v-bind:value="song.id">
                            {{ song.title }}
                            {{ song.mood }}
                        </option>
                    </select><br>
                    <label for="songs">What songs should be in this playlist:</label><br><br>
                    <input class="data-button-style" type="submit" value="Submit Update">
                </form>
                <p><br><br>Change your mind? <a href="/admin/playlists">Go back</a></p>
            </div>
        </div>
    </body>
</html>
