<!DOCTYPE html>
<html>
    <head>
        <title>View Mood</title>
        <link rel="stylesheet" href="/public/css/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <script src="/vue"></script>
        <script>
            window.onload = function(){
                var pageUrl = window.location.href.trim();
                var lastIndex = pageUrl.lastIndexOf("/");
                var moodId = parseInt(pageUrl.substring(lastIndex + 1));

                const Data = {
                    data(){
                        return {
                            mood: {}
                        }
                    },
                    created() {
                        this.fetchData();
                    },
                    methods: {
                        async fetchData() {
                            this.mood = await fetch(new Request('/db/moods/' + moodId)).then(response => {return response.json()});
                        }
                    }
                }
                Vue.createApp(Data).mount('.data-fields');
            }
        </script>
    </head>
    <body>
        <h1>View mood:</h1>
        <div id="data-form">
            <h3>Mood preview</h3>
            <div class="data-fields">
                <div class="data">
                    <p>Name: {{mood.name}}</p>
                </div>
                <p><br><a href="/admin/moods">Go back</a></p>
            </div>
        </div>
    </body>
</html>
        
