<!DOCTYPE html>
<html>
<head>
    <title>Account Registration</title>
    <link rel="stylesheet" href="/public/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
</head>
<body>
    <h1>Registration:</h1>
    <h2 id="error"></h2>
    <div id="data-form">
        <h3>Register</h3>
        <div class="data-fields">
            <form action="/register/create" method="post">
                <input class="data-input-style" type="text" id="username" name="username" placeholder="Username"/><br>
                <label for="username">(greater than 4 characters, no special symbols ex. !@#$%^)</label><br><br>

                <input class="data-input-style" type="text" id="email" name="email" placeholder="email@example.com"/><br>
                <label for="username">(must be in email format and pre-approved by an admin)</label><br><br>

                <input class="data-input-style" type="password" id="password" name="password" placeholder="Password"/><br>
                <label for="username">(minimum 7 characters)</label><br><br>

                <input class="data-button-style" type="submit" value="Submit">
            </form>
        </div>
        <p>Have an account? <a href="/">Login</a></p>
        <p>Note: Registration emails must be pre-approved for access!</p>
    </div>
</body>
<script>
    const params = new URLSearchParams(window.location.search);
    const msg = params.get("msg");
    document.getElementById("error").textContent=msg;
</script>
</html>
